<!DOCTYPE html>
<htlm>
<head>
    <title>ABOUT PAGE</title>
    <link rel='stEylesheet' href='/css/styles.css'>
</head>
<body>
    <div class="main-content"> 
    {{>header}}
    <h1>made by {{name}}</h1>
    </div>
    {{>footer}}
</body>
</htlm>